body
{
    margin:0px;
    padding:0px;
}
.back{
	background-image:url(image/back.jpg);
	background-repeat:no-repeat;
	width:414px;
	height:300px;
	margin:100px auto;
	padding-top:40px;
}
p,h1{
	margin:15px auto;
	padding-left:110px;
	text-align:center;
}