<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="StudentSystemConnectionString" connectionString="Data Source=LONG-PC;Initial Catalog=StudentSystem;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Strconn" connectionString="Data Source=LONG-PC;Initial Catalog=StudentSystem;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Conn" connectionString="Data Source=LONG-PC;Initial Catalog=StudentSystem;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="comm" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=I:\Thirteen\StudentSystem.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
